:root,
:host {
  /* divider variables */
  --divider-border-type: var(--sr-border-type, solid);
  --divider-border-width: var(--sr-border-width, 1px);
  --divider-border-color: var(--sr-border-color, currentColor);

  --divider-v-margin--x: 0;
  --divider-v-margin--y: var(--sr-padding--lg);
  --divider-v-padding--x: 0;
  --divider-v-padding--y: 0;
  --divider-v-content-padding--x: 0;
  --divider-v-content-padding--y: var(--sr-padding--sm);

  --divider-h-margin--x: 0;
  --divider-h-margin--y: var(--sr-padding--lg);
  --divider-h-padding--x: 0;
  --divider-h-padding--y: 0;
  --divider-h-content-padding--x: var(--sr-padding--sm);
  --divider-h-content-padding--y: 0;
  --divider-content-bg: transparent;
  --divider-content-color: inherit;
}
