/* inspired by */
/* http://betterstack.com/community/ */
:root {
  /* Core Variables */
  --sr-body-bg: light-dark(var(--sr-surface-100), var(--sr-surface-800));
  --sr-body-color: light-dark(var(--sr-surface-800), var(--sr-surface-200));
  --sr-border-default: light-dark(var(--sr-surface-200), var(--sr-surface-600));

  --sr-header-height: 3.5rem; /* 3.5rem * 16px = 56px */
  --sr-content-wrapper-width: 80rem; /* 80rem * 16px = 1280px */
  --sr-base-radius: 0.25rem; /* 0.25rem * 16px = 4px */
  --sr-base-padding: 0.5rem; /* 0.5rem * 16px = 8px */
  --sr-base-margin: 0.5rem; /* 0.5rem * 16px = 8px */
  --sr-base-spacing: .25rem;
  --sr-base-gap: 0.5rem;
  --sr-button-size: 1.9rem; /* 1.9rem * 16px = 30.4px */
  --sr-shadow-range: 0.25rem; /* 0.25rem * 16px = 4px */

  --sr-container-sm: 24rem; /* 384px */
  --sr-container-md: 28rem; /* 448px */
  --sr-container-lg: 32rem; /* 512px */
  --sr-container-xl: 36rem; /* 576px */
  --sr-container-2xl: 42rem; /* 672px */
  --sr-container-4xl: 56rem; /* 896px */
  --sr-container-7xl: 80rem; /* 1280px */

  --sr-text-xs: .75rem;
  --sr-text-xs--line-height: calc(1 / .75);
  --sr-text-sm: .875rem;
  --sr-text-sm--line-height: calc(1.25 / .875);
  --sr-text-md: 1rem;
  --sr-text-md--line-height: calc(1.45 / 1);
  --sr-text-lg: 1.25rem;
  --sr-text-lg--line-height: calc(1.75 / 1.25);


  /* Font family */
  color-scheme: light dark;
  &[data-theme='light'] {
    color-scheme: light;
  }
  &[data-theme='dark'] {
    color-scheme: dark;
  }
}
