@layer core, typography, colors, modified, common, components;
@import './core-variables.css' layer(core);
@import './typography.css' layer(typography);
@import './supportive-colors.css' layer(colors);
@import './modified-variables.css' layer(modified);
@import './common-variable.css' layer(common);
