@layer theme {
  :root {
    /* radius */
    --sr-radius-none: 0;
    --sr-radius--xs: calc(var(--sr-base-radius) * 1);
    --sr-radius--sm: calc(var(--sr-base-radius) * 2);
    --sr-radius--md: calc(var(--sr-base-radius) * 3);
    --sr-radius--lg: calc(var(--sr-base-radius) * 4);
    --sr-radius--xl: calc(var(--sr-base-radius) * 6);
    --sr-radius--2xl: calc(var(--sr-base-radius) * 8);

    /* padding */
    --sr-padding--xs: calc(var(--sr-base-padding) * 1);
    --sr-padding--sm: calc(var(--sr-base-padding) * 1.25);
    --sr-padding--md: calc(var(--sr-base-padding) * 1.5);
    --sr-padding--lg: calc(var(--sr-base-padding) * 1.75);
    --sr-padding--xl: calc(var(--sr-base-padding) * 2);
    --sr-padding--2xl: calc(var(--sr-base-padding) * 2.25);
    --sr-padding--3xl: calc(var(--sr-base-padding) * 2.5);
    --sr-padding--4xl: calc(var(--sr-base-padding) * 2.75);
    --sr-padding--5xl: calc(var(--sr-base-padding) * 3);
    --sr-padding--6xl: calc(var(--sr-base-padding) * 4.5);
    --sr-padding--7xl: calc(var(--sr-base-padding) * 6.5);
    --sr-padding--9xl: calc(var(--sr-base-padding) * 8);
    --sr-padding--10xl: calc(var(--sr-base-padding) * 10);

    /* spacing */
    --sr-spacing--xs: calc(var(--sr-base-spacing) * 1);
    --sr-spacing--sm: calc(var(--sr-base-spacing) * 1.25);
    --sr-spacing--md: calc(var(--sr-base-spacing) * 1.5);
    --sr-spacing--lg: calc(var(--sr-base-spacing) * 1.75);
    --sr-spacing--xl: calc(var(--sr-base-spacing) * 2);
    --sr-spacing--2xl: calc(var(--sr-base-spacing) * 2.25);
    --sr-spacing--3xl: calc(var(--sr-base-spacing) * 2.5);
    --sr-spacing--4xl: calc(var(--sr-base-spacing) * 2.75);
    --sr-spacing--5xl: calc(var(--sr-base-spacing) * 3);
    --sr-spacing--6xl: calc(var(--sr-base-spacing) * 4.5);
    --sr-spacing--7xl: calc(var(--sr-base-spacing) * 6.5);
    --sr-spacing--9xl: calc(var(--sr-base-spacing) * 8);
    --sr-spacing--10xl: calc(var(--sr-base-spacing) * 10);

    /* gaps */
    --sr-gap--xs: calc(var(--sr-base-gap) * 1);
    --sr-gap--sm: calc(var(--sr-base-gap) * 1.25);
    --sr-gap--md: calc(var(--sr-base-gap) * 1.5);
    --sr-gap--lg: calc(var(--sr-base-gap) * 1.75);
    --sr-gap--xl: calc(var(--sr-base-gap) * 2);
    --sr-gap--2xl: calc(var(--sr-base-gap) * 2.25);
    --sr-gap--3xl: calc(var(--sr-base-gap) * 2.5);
    --sr-gap--4xl: calc(var(--sr-base-gap) * 2.75);
    --sr-gap--5xl: calc(var(--sr-base-gap) * 3);
    --sr-gap--6xl: calc(var(--sr-base-gap) * 4.5);
    --sr-gap--7xl: calc(var(--sr-base-gap) * 5);
    --sr-gap--8xl: calc(var(--sr-base-gap) * 6);
    --sr-gap--9xl: calc(var(--sr-base-gap) * 6.5);
    --sr-gap--10xl: calc(var(--sr-base-gap) * 8);

    --sr-shadow-sm: var(--sr-base-shadow-range);
    --sr-shadow-md: calc(var(--sr-base-shadow-range) * 1.5);
    --sr-shadow-lg: calc(var(--sr-base-shadow-range) * 2);
    --sr-border-color: var(--sr-border-default);

    /* buttons */
    --sr-button--sm: calc(var(--sr-base-button-size) * 1); /* 32px */
    --sr-button--md: calc(var(--sr-base-button-size) * 1.33); /* 40px */
    --sr-button--lg: calc(var(--sr-base-button-size) * 1.5); /* 48px */
    --sr-button--xl: calc(var(--sr-base-button-size) * 1.75); /* 56px */
    --sr-button--2xl: calc(var(--sr-base-button-size) * 2); /* 64px */

    /* icons */
    --sr-icon--xs: calc(var(--sr-base-icon-size) / 1.15); /*  */
    --sr-icon--sm: calc(var(--sr-base-icon-size) * 1); /* 32px */
    --sr-icon--md: calc(var(--sr-base-icon-size) * 1.33); /* 40px */
    --sr-icon--lg: calc(var(--sr-base-icon-size) * 1.5); /* 48px */
    --sr-icon--xl: calc(var(--sr-base-icon-size) * 1.75); /* 56px */
    --sr-icon--2xl: calc(var(--sr-base-icon-size) * 2); /* 64px */

  }
}
