@layer theme {
  :root {
    --sr-stone--0: #fffbf9;
    --sr-stone--50: #fafaf9;
    --sr-stone--100: #f5f5f4;
    --sr-stone--200: #e7e5e4;
    --sr-stone--300: #d6d3d1;
    --sr-stone--400: #a8a29e;
    --sr-stone--500: #78716c;
    --sr-stone--600: #57534e;
    --sr-stone--700: #44403c;
    --sr-stone--800: #292524;
    --sr-stone--900: #1c1917;
    --sr-stone--950: #0c0a09;

    --sr-neutral--0: #ffffff;
    --sr-neutral--50: #fafafa;
    --sr-neutral--100: #f5f5f5;
    --sr-neutral--200: #e5e5e5;
    --sr-neutral--300: #d4d4d4;
    --sr-neutral--400: #a3a3a3;
    --sr-neutral--500: #737373;
    --sr-neutral--600: #525252;
    --sr-neutral--700: #404040;
    --sr-neutral--800: #262626;
    --sr-neutral--900: #171717;
    --sr-neutral--950: #0a0a0a;

    --sr-zinc--0: #fffefe;
    --sr-zinc--50: #fafafa;
    --sr-zinc--100: #f4f4f5;
    --sr-zinc--200: #e4e4e7;
    --sr-zinc--300: #d4d4d8;
    --sr-zinc--400: #a1a1aa;
    --sr-zinc--500: #71717a;
    --sr-zinc--600: #52525b;
    --sr-zinc--700: #3f3f46;
    --sr-zinc--800: #27272a;
    --sr-zinc--900: #18181b;
    --sr-zinc--950: #09090b;

    --sr-gray--0: #fefefe;
    --sr-gray--50: #f9fafb;
    --sr-gray--100: #f3f4f6;
    --sr-gray--200: #e5e7eb;
    --sr-gray--300: #d1d5db;
    --sr-gray--400: #9ca3af;
    --sr-gray--500: #6b7280;
    --sr-gray--600: #4b5563;
    --sr-gray--700: #374151;
    --sr-gray--800: #1f2937;
    --sr-gray--900: #111827;
    --sr-gray--950: #030712;

    --sr-slate--0: #fcfeff;
    --sr-slate--50: #f8fafc;
    --sr-slate--100: #f1f5f9;
    --sr-slate--200: #e2e8f0;
    --sr-slate--300: #cbd5e1;
    --sr-slate--400: #94a3b8;
    --sr-slate--500: #64748b;
    --sr-slate--600: #475569;
    --sr-slate--700: #334155;
    --sr-slate--800: #1e293b;
    --sr-slate--900: #0f172a;
    --sr-slate--950: #020617;

    --sr-rose--0: #fffefe;
    --sr-rose--50: #fff1f2;
    --sr-rose--100: #ffe4e6;
    --sr-rose--200: #fecdd3;
    --sr-rose--300: #fda4af;
    --sr-rose--400: #fb7185;
    --sr-rose--500: #f43f5e;
    --sr-rose--600: #e11d48;
    --sr-rose--700: #be123c;
    --sr-rose--800: #9f1239;
    --sr-rose--900: #881337;
    --sr-rose--950: #4c0519;

    --sr-pink--0: #fffbfd;
    --sr-pink--50: #fdf2f8;
    --sr-pink--100: #fce7f3;
    --sr-pink--200: #fbcfe8;
    --sr-pink--300: #f9a8d4;
    --sr-pink--400: #f472b6;
    --sr-pink--500: #ec4899;
    --sr-pink--600: #db2777;
    --sr-pink--700: #be185d;
    --sr-pink--800: #9d174d;
    --sr-pink--900: #831843;
    --sr-pink--950: #500724;

    --sr-fuchsia--0: #fdfbfd;
    --sr-fuchsia--50: #fdf4ff;
    --sr-fuchsia--100: #fae8ff;
    --sr-fuchsia--200: #f5d0fe;
    --sr-fuchsia--300: #f0abfc;
    --sr-fuchsia--400: #e879f9;
    --sr-fuchsia--500: #d946ef;
    --sr-fuchsia--600: #c026d3;
    --sr-fuchsia--700: #a21caf;
    --sr-fuchsia--800: #86198f;
    --sr-fuchsia--900: #701a75;
    --sr-fuchsia--950: #4a044e;

    --sr-purple--50: #faf5ff;
    --sr-purple--100: #f3e8ff;
    --sr-purple--200: #e9d5ff;
    --sr-purple--300: #d8b4fe;
    --sr-purple--400: #c084fc;
    --sr-purple--500: #a855f7;
    --sr-purple--600: #9333ea;
    --sr-purple--700: #7e22ce;
    --sr-purple--800: #6b21a8;
    --sr-purple--900: #581c87;
    --sr-purple--950: #3b0764;

    --sr-violet--0: #faf9ff;
    --sr-violet--50: #f5f3ff;
    --sr-violet--100: #ede9fe;
    --sr-violet--200: #ddd6fe;
    --sr-violet--300: #c4b5fd;
    --sr-violet--400: #a78bfa;
    --sr-violet--500: #8b5cf6;
    --sr-violet--600: #7c3aed;
    --sr-violet--700: #6d28d9;
    --sr-violet--800: #5b21b6;
    --sr-violet--900: #4c1d95;
    --sr-violet--950: #2e1065;

    --sr-indigo--0: #fbfcff;
    --sr-indigo--50: #eef2ff;
    --sr-indigo--100: #e0e7ff;
    --sr-indigo--200: #c7d2fe;
    --sr-indigo--300: #a5b4fc;
    --sr-indigo--400: #818cf8;
    --sr-indigo--500: #6366f1;
    --sr-indigo--600: #4f46e5;
    --sr-indigo--700: #4338ca;
    --sr-indigo--800: #3730a3;
    --sr-indigo--900: #312e81;
    --sr-indigo--950: #1e1b4b;

    --sr-blue--0: #fbfdff;
    --sr-blue--50: #eff6ff;
    --sr-blue--100: #dbeafe;
    --sr-blue--200: #bfdbfe;
    --sr-blue--300: #93c5fd;
    --sr-blue--400: #60a5fa;
    --sr-blue--500: #3b82f6;
    --sr-blue--600: #2563eb;
    --sr-blue--700: #1d4ed8;
    --sr-blue--800: #1e40af;
    --sr-blue--900: #1e3a8a;
    --sr-blue--950: #172554;

    --sr-sky--0: #fcfeff;
    --sr-sky--50: #f0f9ff;
    --sr-sky--100: #e0f2fe;
    --sr-sky--200: #bae6fd;
    --sr-sky--300: #7dd3fc;
    --sr-sky--400: #38bdf8;
    --sr-sky--500: #0ea5e9;
    --sr-sky--600: #0284c7;
    --sr-sky--700: #0369a1;
    --sr-sky--800: #075985;
    --sr-sky--900: #0c4a6e;
    --sr-sky--950: #082f49;

    --sr-cyan--0: #fbffff;
    --sr-cyan--50: #ecfeff;
    --sr-cyan--100: #cffafe;
    --sr-cyan--200: #a5f3fc;
    --sr-cyan--300: #67e8f9;
    --sr-cyan--400: #22d3ee;
    --sr-cyan--500: #06b6d4;
    --sr-cyan--600: #0891b2;
    --sr-cyan--700: #0e7490;
    --sr-cyan--800: #155e75;
    --sr-cyan--900: #164e63;
    --sr-cyan--950: #083344;

    --sr-teal--0: #f9fffe;
    --sr-teal--50: #f0fdfa;
    --sr-teal--100: #ccfbf1;
    --sr-teal--200: #99f6e4;
    --sr-teal--300: #5eead4;
    --sr-teal--400: #2dd4bf;
    --sr-teal--500: #14b8a6;
    --sr-teal--600: #0d9488;
    --sr-teal--700: #0f766e;
    --sr-teal--800: #115e59;
    --sr-teal--900: #134e4a;
    --sr-teal--950: #042f2e;

    --sr-yellow--0: #fffff0;
    --sr-yellow--50: #fefce8;
    --sr-yellow--100: #fef9c3;
    --sr-yellow--200: #fef08a;
    --sr-yellow--300: #fde047;
    --sr-yellow--400: #facc15;
    --sr-yellow--500: #eab308;
    --sr-yellow--600: #ca8a04;
    --sr-yellow--700: #a16207;
    --sr-yellow--800: #854d0e;
    --sr-yellow--900: #713f12;
    --sr-yellow--950: #422006;

    --sr-amber--0: #fffef8;
    --sr-amber--50: #fffbeb;
    --sr-amber--100: #fef3c7;
    --sr-amber--200: #fde68a;
    --sr-amber--300: #fcd34d;
    --sr-amber--400: #fbbf24;
    --sr-amber--500: #f59e0b;
    --sr-amber--600: #d97706;
    --sr-amber--700: #b45309;
    --sr-amber--800: #92400e;
    --sr-amber--900: #78350f;
    --sr-amber--950: #451a03;

    --sr-orange--0: #fffcf9;
    --sr-orange--50: #fff7ed;
    --sr-orange--100: #ffedd5;
    --sr-orange--200: #fed7aa;
    --sr-orange--300: #fdba74;
    --sr-orange--400: #fb923c;
    --sr-orange--500: #f97316;
    --sr-orange--600: #ea580c;
    --sr-orange--700: #c2410c;
    --sr-orange--800: #9a3412;
    --sr-orange--900: #7c2d12;
    --sr-orange--950: #431407;

    --sr-red--0: #fffafa;
    --sr-red--50: #fef2f2;
    --sr-red--100: #fee2e2;
    --sr-red--200: #fecaca;
    --sr-red--300: #fca5a5;
    --sr-red--400: #f87171;
    --sr-red--500: #ef4444;
    --sr-red--600: #dc2626;
    --sr-red--700: #b91c1c;
    --sr-red--800: #991b1b;
    --sr-red--900: #7f1d1d;
    --sr-red--950: #450a0a;

    --sr-lime--0: #fdfff8;
    --sr-lime--50: #f7fee7;
    --sr-lime--100: #ecfccb;
    --sr-lime--200: #d9f99d;
    --sr-lime--300: #bef264;
    --sr-lime--400: #a3e635;
    --sr-lime--500: #84cc16;
    --sr-lime--600: #65a30d;
    --sr-lime--700: #4d7c0f;
    --sr-lime--800: #3f6212;
    --sr-lime--900: #365314;
    --sr-lime--950: #1a2e05;

    --sr-green--0: #fafffc;
    --sr-green--50: #f0fdf4;
    --sr-green--100: #dcfce7;
    --sr-green--200: #bbf7d0;
    --sr-green--300: #86efac;
    --sr-green--400: #4ade80;
    --sr-green--500: #22c55e;
    --sr-green--600: #16a34a;
    --sr-green--700: #15803d;
    --sr-green--800: #166534;
    --sr-green--900: #14532d;
    --sr-green--950: #052e16;

    --sr-emerald--0: #fafffd;
    --sr-emerald--50: #ecfdf5;
    --sr-emerald--100: #d1fae5;
    --sr-emerald--200: #a7f3d0;
    --sr-emerald--300: #6ee7b7;
    --sr-emerald--400: #34d399;
    --sr-emerald--500: #10b981;
    --sr-emerald--600: #059669;
    --sr-emerald--700: #047857;
    --sr-emerald--800: #065f46;
    --sr-emerald--900: #064e3b;
    --sr-emerald--950: #022c22;

    --sr-accent--0: #f9ffff;
    --sr-accent--50: #ecffff;
    --sr-accent--100: #d0fafd;
    --sr-accent--200: #a6f4fb;
    --sr-accent--300: #69eaf7;
    --sr-accent--400: #25d6eb;
    --sr-accent--500: #0acce6;
    --sr-accent--600: #0b94af;
    --sr-accent--700: #10768e;
    --sr-accent--800: #166074;
    --sr-accent--900: #174f62;
    --sr-accent--950: #093543;

    --sr-primary--0: #f9fbff;
    --sr-primary--50: #eef3ff;
    --sr-primary--100: #e0e9ff;
    --sr-primary--200: #c7d5fe;
    --sr-primary--300: #a6b8fb;
    --sr-primary--400: #8293f7;
    --sr-primary--500: #646ef0;
    --sr-primary--600: #4342e3;
    --sr-primary--700: #3d39c9;
    --sr-primary--800: #3231a2;
    --sr-primary--900: #2f3080;
    --sr-primary--950: #1c1b4b;

    /* surfaces */
    --sr-surface--0: #ffffff;
    --sr-surface--50: var(--sr-zinc--50);
    --sr-surface--100: var(--sr-zinc--100);
    --sr-surface--200: var(--sr-zinc--200);
    --sr-surface--300: var(--sr-zinc--300);
    --sr-surface--400: var(--sr-zinc--400);
    --sr-surface--500: var(--sr-zinc--500);
    --sr-surface--600: var(--sr-zinc--600);
    --sr-surface--700: var(--sr-zinc--700);
    --sr-surface--800: var(--sr-zinc--800);
    --sr-surface--900: var(--sr-zinc--900);
    --sr-surface--950: var(--sr-zinc--950);
  }
}
