<content-wrapper>
  <hero-title>
    <ng-template #icon>
      <sr-buttons-icon-full class="aspect--standard" />
    </ng-template>
    <h1 class="fs--h3 text-primary--500 dark:text-surface--100">Button Component</h1>
    <p class="content-size--7">
      Create interactive and visually appealing buttons with our customizable Button component.
      <br />
      Enhance user engagement with a variety of
      <strong>styles</strong>
      ,
      <strong>sizes</strong>
      , and
      <strong>states</strong>
      to suit any application need.
    </p>
  </hero-title>
  <grid-content padding="xl">
    <div>
      <h6 class="m--0 fw--bold">Basic</h6>
      <p>
        Text to display on a button is defined with the
        <strong>label</strong>
        property.
      </p>
    </div>
    <uifx-divider />
    <div
      class="flex flex--wrap p--4xl gap--md radius border justify--center bg-surface--0 dark:bg-surface--800"
    >
      <!-- with pure component -->
      <uifx-button label="I am simple" />
      <uifx-button
        label="Icon with Start"
        severity="primary"
        variant="solid"
        iconStart="fa-solid fa-floppy-disk"
      />
      <uifx-button
        label="Icon with End"
        severity="primary"
        variant="solid"
        iconEnd="fa-solid fa-ellipsis-v"
      />
      <uifx-button
        label="Icon with Both-sides"
        iconStart="fa-solid fa-list"
        iconEnd="fa-solid fa-angle-down"
      />
      <uifx-button iconOnly icon="fa-solid fa-star" />

      <a href="#" uifxButton type="link" target="_blank" rel="noopener noreferrer">
        <span uifxLabel>I am simple Link</span>
      </a>
      <a href="https://angular.dev/" uifxButton target="_blank" rel="noopener noreferrer">
        <span uifxLabel>Angular Website</span>
      </a>
      <a routerLink="/components/tabs" uifxButton>
        <span uifxLabel>Router Link</span>
      </a>
      <button uifxButton variant="outlined" (click)="handleValidate()">
        <span uifxStartIcon>
          @if (saveChange()) {
            <i class="fa-solid fa-spinner fa-spin"></i>
          } @else {
            <i class="fa-solid fa-user"></i>
          }
        </span>
        <span uifxLabel>View Profile</span>
        <span uifxEndIcon>
          <i class="fa-solid fa-chevron-right"></i>
        </span>
      </button>
    </div>
  </grid-content>
</content-wrapper>
