.relative {
  position: relative !important;
}
.absolute {
  position: absolute !important;
}
.fixed {
  position: fixed !important;
}
.sticky {
  position: sticky !important;
}


.block {
  display: block !important;
}
.flex {
  display: flex !important;
}
.grid {
  display: grid !important;
}
.inline--block {
  display: inline-block !important;
}
.inline--flex {
  display: inline-flex !important;
}
.inline--grid {
  display: inline-grid !important;
}

/* flex */
.flex--column {
  flex-direction: column !important;
}
.flex--row {
  flex-direction: row !important;
}
.flex--row-reverse {
  flex-direction: row-reverse !important;
}
.flex--column-reverse {
  flex-direction: column-reverse !important;
}
.flex--wrap {
  flex-wrap: wrap !important;
}
.flex--no-wrap {
  flex-wrap: nowrap !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.flex-shrink-1 {
  flex-shrink: 1 !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor--pointer {
  cursor: pointer !important;
}
.pointer-events--none {
  pointer-events: none !important;
}
.cursor--default {
  cursor: default !important;
}

.items--center {
  align-items: center !important;
}
.items--end {
  align-items: flex-end !important;
}
.items--start {
  align-items: flex-start !important;
}
.items--baseline {
  align-items: baseline !important;
}
.items--stretch {
  align-items: stretch !important;
}
.justify--center {
  justify-content: center !important;
}
.justify--between {
  justify-content: space-between !important;
}
.justify--around {
  justify-content: space-around !important;
}
.justify--evenly {
  justify-content: space-evenly !important;
}
.text--center {
  text-align: center !important;
}
.text--left {
  text-align: left !important;
}
.text--right {
  text-align: right !important;
}

.text {
  font-size: var(--sr-text-sm);
  line-height: var(--sr-text-sm--line-height);
}

:where([class|='border']) {
  border: var(--sr-border-width) var(--sr-border-type) var(--sr-border-color);
}

:where(.w-full) {
  width: 100% !important;
}


[class|="radius"] {
  border-radius: var(--sr-radius-md) !important;
}
.radius--xs {
  border-radius: var(--sr-radius-xs) !important;
}
.radius--sm {
  border-radius: var(--sr-radius-sm) !important;
}
.radius--md {
  border-radius: var(--sr-radius-md) !important;
}
.radius--lg {
  border-radius: var(--sr-radius-lg) !important;
}
.radius--xl {
  border-radius: var(--sr-radius-xl) !important;
}
.radius--2xl {
  border-radius: var(--sr-radius-2xl) !important;
}
.radius--2xl {
  border-radius: var(--sr-radius-2xl) !important;
}


.gap--sm {
  gap: var(--sr-gap-sm) !important;
}
.gap--md {
  gap: var(--sr-gap-md) !important;
}
.gap--lg {
  gap: var(--sr-gap-lg) !important;
}
.gap--xl {
  gap: var(--sr-gap-xl) !important;
}
.gap--2xl {
  gap: var(--sr-gap-2xl) !important;
}
.gap--3xl {
  gap: var(--sr-gap-3xl) !important;
}
.gap--4xl {
  gap: var(--sr-gap-4xl) !important;
}
.gap--5xl {
  gap: var(--sr-gap-5xl) !important;
}
