.relative {
  position: relative !important;
}
.absolute {
  position: absolute !important;
}
.fixed {
  position: fixed !important;
}
.sticky {
  position: sticky !important;
}



.block {
  display: block !important;
}

.grid {
  display: grid !important;
}
.inline--block {
  display: inline-block !important;
}
.inline--flex {
  display: inline-flex !important;
}
.inline--grid {
  display: inline-grid !important;
}

.cursor--pointer {
  cursor: pointer !important;
}
.pointer-events--none {
  pointer-events: none !important;
}
.cursor--default {
  cursor: default !important;
}

.text--center {
  text-align: center !important;
}
.text--left {
  text-align: left !important;
}
.text--right {
  text-align: right !important;
}

.text {
  font-size: var(--sr-text-sm);
  line-height: var(--sr-text-sm--line-height);
}

:where([class|='border']) {
  border: var(--sr-border-width) var(--sr-border-type) var(--sr-border-color);
}

:where(.w-full) {
  width: 100% !important;
}


.w-h-auto {
  width: auto !important;
  height: auto !important;
}
.w-h-100 {
  width: 100% !important;
  height: 100% !important;
}

