.block {
  display: block !important;
}
.flex {
  display: flex !important;
}
.grid {
  display: grid !important;
}
.inline--block {
  display: inline-block !important;
}
.inline--flex {
  display: inline-flex !important;
}
.inline--grid {
  display: inline-grid !important;
}

/* flex */
.flex--column {
  flex-direction: column !important;
}
.flex--row {
  flex-direction: row !important;
}
.flex--row-reverse {
  flex-direction: row-reverse !important;
}
.flex--column-reverse {
  flex-direction: column-reverse !important;
}
.flex--wrap {
  flex-wrap: wrap !important;
}
.flex--no-wrap {
  flex-wrap: nowrap !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.flex-shrink-1 {
  flex-shrink: 1 !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor--pointer {
  cursor: pointer !important;
}
.cursor--default {
  cursor: default !important;
}

.items--center {
  align-items: center !important;
}
.items--end {
  align-items: flex-end !important;
}
.items--start {
  align-items: flex-start !important;
}
.items--baseline {
  align-items: baseline !important;
}
.items--stretch {
  align-items: stretch !important;
}
.justify--center {
  justify-content: center !important;
}
.justify--between {
  justify-content: space-between !important;
}
.justify--around {
  justify-content: space-around !important;
}
.justify--evenly {
  justify-content: space-evenly !important;
}
.text--center {
  text-align: center !important;
}
.text--left {
  text-align: left !important;
}
.text--right {
  text-align: right !important;
}

.text {
  font-size: var(--sr-text-sm);
  line-height: var(--sr-text-sm--line-height);
}

:where([class|='border']) {
  border: var(--sr-border-width) var(--sr-border-type) var(--sr-border-color);
}

:where(.w-full) {
  width: 100% !important;
}
