.flex {
  display: flex !important;
}
.flex--column {
  flex-direction: column !important;
}
.flex--row {
  flex-direction: row !important;
}
.flex--row-reverse {
  flex-direction: row-reverse !important;
}
.flex--column-reverse {
  flex-direction: column-reverse !important;
}
.flex--wrap {
  flex-wrap: wrap !important;
}
.flex--no-wrap {
  flex-wrap: nowrap !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.flex-shrink-1 {
  flex-shrink: 1 !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}

.flex--center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}


.items--center {
  align-items: center !important;
}
.items--end {
  align-items: flex-end !important;
}
.items--start {
  align-items: flex-start !important;
}
.items--baseline {
  align-items: baseline !important;
}
.items--stretch {
  align-items: stretch !important;
}
.justify--center {
  justify-content: center !important;
}
.justify--between {
  justify-content: space-between !important;
}
.justify--around {
  justify-content: space-around !important;
}
.justify--evenly {
  justify-content: space-evenly !important;
}
