.flex {
  display: flex;
}
.flex--column {
  flex-direction: column;
}
.flex--row {
  flex-direction: row;
}
.flex--row-reverse {
  flex-direction: row-reverse;
}
.flex--column-reverse {
  flex-direction: column-reverse;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--no-wrap {
  flex-wrap: nowrap;
}

.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow-1 {
  flex-grow: 1;
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.items--center {
  align-items: center;
}
.items--end {
  align-items: flex-end;
}
.items--start {
  align-items: flex-start;
}
.items--baseline {
  align-items: baseline;
}
.items--stretch {
  align-items: stretch;
}
.justify--center {
  justify-content: center;
}
.justify--between {
  justify-content: space-between;
}
.justify--around {
  justify-content: space-around;
}
.justify--evenly {
  justify-content: space-evenly;
}
