.gap--xs { gap: var(--sr-gap--xs) !important; }
.gap--sm { gap: var(--sr-gap--sm) !important; }
.gap--md { gap: var(--sr-gap--md) !important; }
.gap--lg { gap: var(--sr-gap--lg) !important; }
.gap--xl { gap: var(--sr-gap--xl) !important; }
.gap--2xl { gap: var(--sr-gap--2xl) !important; }
.gap--3xl { gap: var(--sr-gap--3xl) !important; }
.gap--4xl { gap: var(--sr-gap--4xl) !important; }
.gap--5xl { gap: var(--sr-gap--5xl) !important; }

.gap-x--xs { row-gap: var(--sr-gap--xs) !important; }
.gap-x--sm { row-gap: var(--sr-gap--sm) !important; }
.gap-x--md { row-gap: var(--sr-gap--md) !important; }
.gap-x--lg { row-gap: var(--sr-gap--lg) !important; }
.gap-x--xl { row-gap: var(--sr-gap--xl) !important; }
.gap-x--2xl { row-gap: var(--sr-gap--2xl) !important; }
.gap-x--3xl { row-gap: var(--sr-gap--3xl) !important; }
.gap-x--4xl { row-gap: var(--sr-gap--4xl) !important; }
.gap-x--5xl { row-gap: var(--sr-gap--5xl) !important; }

.gap-y--xs { column-gap: var(--sr-gap--xs) !important; }
.gap-y--sm { column-gap: var(--sr-gap--sm) !important; }
.gap-y--md { column-gap: var(--sr-gap--md) !important; }
.gap-y--lg { column-gap: var(--sr-gap--lg) !important; }
.gap-y--xl { column-gap: var(--sr-gap--xl) !important; }
.gap-y--2xl { column-gap: var(--sr-gap--2xl) !important; }
.gap-y--3xl { column-gap: var(--sr-gap--3xl) !important; }
.gap-y--4xl { column-gap: var(--sr-gap--4xl) !important; }
.gap-y--5xl { column-gap: var(--sr-gap--5xl) !important; }
