.gap--xs { gap: var(--sr-gap--xs); }
.gap--xs\/2 { gap: calc(var(--sr-base-gap) / 2); }
.gap--sm { gap: var(--sr-gap--sm); }
.gap--md { gap: var(--sr-gap--md); }
.gap--lg { gap: var(--sr-gap--lg); }
.gap--xl { gap: var(--sr-gap--xl); }
.gap--2xl { gap: var(--sr-gap--2xl); }
.gap--3xl { gap: var(--sr-gap--3xl); }
.gap--4xl { gap: var(--sr-gap--4xl); }
.gap--5xl { gap: var(--sr-gap--5xl); }

.gap-x--xs { row-gap: var(--sr-gap--xs); }
.gap-x--sm { row-gap: var(--sr-gap--sm); }
.gap-x--md { row-gap: var(--sr-gap--md); }
.gap-x--lg { row-gap: var(--sr-gap--lg); }
.gap-x--xl { row-gap: var(--sr-gap--xl); }
.gap-x--2xl { row-gap: var(--sr-gap--2xl); }
.gap-x--3xl { row-gap: var(--sr-gap--3xl); }
.gap-x--4xl { row-gap: var(--sr-gap--4xl); }
.gap-x--5xl { row-gap: var(--sr-gap--5xl); }

.gap-y--xs { column-gap: var(--sr-gap--xs); }
.gap-y--sm { column-gap: var(--sr-gap--sm); }
.gap-y--md { column-gap: var(--sr-gap--md); }
.gap-y--lg { column-gap: var(--sr-gap--lg); }
.gap-y--xl { column-gap: var(--sr-gap--xl); }
.gap-y--2xl { column-gap: var(--sr-gap--2xl); }
.gap-y--3xl { column-gap: var(--sr-gap--3xl); }
.gap-y--4xl { column-gap: var(--sr-gap--4xl); }
.gap-y--5xl { column-gap: var(--sr-gap--5xl); }
