/* margin */
/* =====[ globally (x-start, x-end, y-start, y-end)] ===== */
.m-0, .m-none { margin: 0; }
.m--inherit { margin: inherit; }
.m--xs { margin: var(--sr-spacing-xs); }
.m--sm { margin: var(--sr-spacing-sm); }
.m--md { margin: var(--sr-spacing-md); }
.m--lg { margin: var(--sr-spacing-lg); }
.m--xl { margin: var(--sr-spacing-xl); }
.m--2xl { margin: var(--sr-spacing-2xl); }
.m--3xl { margin: var(--sr-spacing-3xl); }
.m--4xl { margin: var(--sr-spacing-4xl); }
.m--5xl { margin: var(--sr-spacing-5xl); }

/* =====[ y-axis (y-start, y-end)] ===== */
.my--0, .my--none { margin-block: 0; }
.my--auto { margin-block: auto; }
.my--xs { margin-block: var(--sr-spacing-xs); }
.my--sm { margin-block: var(--sr-spacing-sm); }
.my--md { margin-block: var(--sr-spacing-md); }
.my--lg { margin-block: var(--sr-spacing-lg); }
.my--xl { margin-block: var(--sr-spacing-xl); }
.my--2xl { margin-block: var(--sr-spacing-2xl); }
.my--3xl { margin-block: var(--sr-spacing-3xl); }
.my--4xl { margin-block: var(--sr-spacing-4xl); }
.my--5xl { margin-block: var(--sr-spacing-5xl); }

/* =====[ y-axis (y-start)] ===== */
.my-start--0, .my-start--none { margin-block-start: 0; }
.my-start--auto { margin-block-start: auto; }
.my-start--xs { margin-block-start: var(--sr-spacing-xs); }
.my-start--sm { margin-block-start: var(--sr-spacing-sm); }
.my-start--md { margin-block-start: var(--sr-spacing-md); }
.my-start--lg { margin-block-start: var(--sr-spacing-lg); }
.my-start--xl { margin-block-start: var(--sr-spacing-xl); }
.my-start--2xl { margin-block-start: var(--sr-spacing-2xl); }
.my-start--3xl { margin-block-start: var(--sr-spacing-3xl); }
.my-start--4xl { margin-block-start: var(--sr-spacing-4xl); }
.my-start--5xl { margin-block-start: var(--sr-spacing-5xl); }

/* =====[ y-axis (y-end)] ===== */
.my-end--0, .my-end--none { margin-block-end: 0; }
.my-end--auto { margin-block-end: auto; }
.my-end--sm { margin-block-end: var(--sr-spacing-sm); }
.my-end--md { margin-block-end: var(--sr-spacing-md); }
.my-end--lg { margin-block-end: var(--sr-spacing-lg); }
.my-end--xl { margin-block-end: var(--sr-spacing-xl); }
.my-end--2xl { margin-block-end: var(--sr-spacing-2xl); }
.my-end--3xl { margin-block-end: var(--sr-spacing-3xl); }
.my-end--4xl { margin-block-end: var(--sr-spacing-4xl); }
.my-end--5xl { margin-block-end: var(--sr-spacing-5xl); }


/* =====[ x-axis (x-start, x-end)] ===== */
.mx--0, .mx--none { margin-inline: 0; }
.mx--auto { margin-inline: auto; }
.mx--xs { margin-inline: var(--sr-spacing-xs); }
.mx--sm { margin-inline: var(--sr-spacing-sm); }
.mx--md { margin-inline: var(--sr-spacing-md); }
.mx--lg { margin-inline: var(--sr-spacing-lg); }
.mx--xl { margin-inline: var(--sr-spacing-xl); }
.mx--2xl { margin-inline: var(--sr-spacing-2xl); }
.mx--3xl { margin-inline: var(--sr-spacing-3xl); }
.mx--4xl { margin-inline: var(--sr-spacing-4xl); }
.mx--5xl { margin-inline: var(--sr-spacing-5xl); }

/* =====[ x-axis (x-start)] ===== */
.mx-start--0, .mx-start--none { margin-inline-start: 0; }
.mx-start--auto { margin-inline-start: auto; }
.mx-start--xs { margin-inline-start: var(--sr-spacing-xs); }
.mx-start--sm { margin-inline-start: var(--sr-spacing-sm); }
.mx-start--md { margin-inline-start: var(--sr-spacing-md); }
.mx-start--lg { margin-inline-start: var(--sr-spacing-lg); }
.mx-start--xl { margin-inline-start: var(--sr-spacing-xl); }
.mx-start--2xl { margin-inline-start: var(--sr-spacing-2xl); }
.mx-start--3xl { margin-inline-start: var(--sr-spacing-3xl); }
.mx-start--4xl { margin-inline-start: var(--sr-spacing-4xl); }
.mx-start--5xl { margin-inline-start: var(--sr-spacing-5xl); }

/* =====[ x-axis (x-end)] ===== */
.mx-end--0, .mx-end--none { margin-inline-end: 0; }
.mx-end--auto { margin-inline-end: auto; }
.mx-end--xs { margin-inline-end: var(--sr-spacing-xs); }
.mx-end--sm { margin-inline-end: var(--sr-spacing-sm); }
.mx-end--md { margin-inline-end: var(--sr-spacing-md); }
.mx-end--lg { margin-inline-end: var(--sr-spacing-lg); }
.mx-end--xl { margin-inline-end: var(--sr-spacing-xl); }
.mx-end--2xl { margin-inline-end: var(--sr-spacing-2xl); }
.mx-end--3xl { margin-inline-end: var(--sr-spacing-3xl); }
.mx-end--4xl { margin-inline-end: var(--sr-spacing-4xl); }
.mx-end--5xl { margin-inline-end: var(--sr-spacing-5xl); }
