:host {
  display: inline-block;
  vertical-align: middle;
}
.uifx-button:not(.uifx-btn-host) {
  background-color: var(--btn-bg, inherit);
  color: var(--btn-color, inherit);
  gap: var(--btn-gap, var(--sr-gap--sm));
  padding-inline-start: var(--btn-pad-x-start, 0.65rem);
  padding-inline-end: var(--btn-pad-x-end, 0.65rem);
  padding-block-start: var(--btn-pad-y-start, 0.35rem);
  padding-block-end: var(--btn-pad-y-end, 0.35rem);
  border-radius: var(--btn-radius, 0.35rem);
  border: var(--btn-border-width, 1) var(--btn-border-type, solid)
    var(--btn-border-color, currentColor);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: var(--btn-ff, inherit);
  font-weight: var(--btn-fw, 600);
  font-size: var(--btn-fs, inherit);
  line-height: var(--btn-lh, 1.25);
  transition: var(--btn-transition, initial);

  &:hover {
    background-color: var(--btn-bg-hover, var(--btn-bg));
    color: var(--btn-color-hover, var(--btn-color));
    border-color: var(--btn-border-color-hover, var(--btn-border-color));
  }
}
