:host {
  --sr-header-padding: calc(var(--sr-padding--xs) / 1.25);
  --sr-header-elements-height: calc(var(--sr-header-height) - var(--sr-header-padding) * 2.75);
  --sr-header-border: light-dark(var(--sr-primary--300), var(--sr-surface--500));
  --sr-header-shadow: light-dark(oklch(from var(--sr-primary--500) l c h / 0.09), oklch(from var(--sr-surface--800) l c h / 0.5));

  position: sticky;
  inset-block-start: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: var(--sr-max-z-index);
  padding-inline: calc(var(--sr-padding--xs) + 1vw);

  .sub-header {
    height: clamp(3rem,var(--sr-header-height), 4rem);
    padding-block: var(--sr-header-padding);
    padding-inline: var(--sr-header-padding);
    padding-inline-end: calc(var(--sr-header-padding) * 1.25);
    border-radius: var(--sr-radius--md);
    border: var(--sr-border-width) var(--sr-border-type) var(--sr-header-border);
    background-color: light-dark(oklch(from var(--sr-surface--0) l c h / 0.5), oklch(from var(--sr-surface--800) l c h / 0.75));
    backdrop-filter: brightness(500%) blur(0.5rem);
    box-shadow: 0 0 0 var(--sr-shadow-sm) var(--sr-header-shadow);
  }

  .header-square-element {
    width: var(--sr-header-elements-height);
    aspect-ratio: 1 / 1;
    font-size: var(--sr-fs--md);
    background-color: light-dark(var(--sr-primary--50), var(--sr-surface--700));
    transition: all 0.3s ease-in-out;
    border: none;
    outline-color: none;
    &:hover {
      background-color: light-dark(var(--sr-primary--500), var(--sr-primary--500));
      color: light-dark(var(--sr-surface--0), var(--sr-surface--100));
    }
  }
}
