:host {
  position: sticky;
  inset-block-start: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  /* max-height: var(--sr-header-height); */
  /* background-image: linear-gradient(to bottom, oklch(from var(--sr-surface-800) l c h / 0.15), transparent 100%); */
  /* backdrop-filter: blur(5px); */
  /* background-color: light-dark(var(--sr-surface-0), var(--sr-surface-950)); */
  /* border-block-end: var(--sr-border-width) var(--sr-border-type) var(--sr-border-color); */
  .sub-header {
    --sr-border-color: light-dark(var(--sr-primary-300), var(--sr-surface-500));
    /* position: relative; */
    /* backdrop-filter: blur(0.2rem) brightness(1.5); */
    padding-block: var(--sr-padding-xs);
    padding-inline: var(--sr-padding-xs);
    border-radius: var(--sr-radius-md);
    border: var(--sr-border-width) var(--sr-border-type) var(--sr-border-color);
    background-color: light-dark(oklch(from var(--sr-surface-0) l c h / 0.5), oklch(from var(--sr-surface-800) l c h / 0.75));
    backdrop-filter: brightness(500%) blur(0.5rem);
    box-shadow: 0 0 0 var(--sr-shadow-sm) light-dark(oklch(from var(--sr-primary-500) l c h / 0.09), oklch(from var(--sr-surface-800) l c h / 0.5));
  }
}
