:host {
  --line-size: 1px;
  display: flex;
  position: relative;
  align-items: center;
  margin: var(--divider-horizontal-margin);
  padding: var(--divider-horizontal-padding);

  &:before {
    content: '';
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 0;
  }

  &:not(.divider--vertical) {
    padding: var(--divider-horizontal-content-padding);
    &:before {
      width: 100%;
      border-block-start: var(--divider-border-width) var(--divider-border-type) var(--divider-border-color);
    }
  }

  &.divider--vertical {
    justify-content: center;
    margin: var(--divider-vertical-margin);
    padding: var(--divider-vertical-padding);
    &:before {
      min-height: 100%;
      width: var(--line-size);
      inset-block-start: 0;
      inset-inline-start: 50%;
      border-block-start: none;
      border-inline-start: var(--divider-border-width) var(--divider-border-type) var(--divider-border-color);
    }
  }

  .divider-content {
    position: relative;
    width: fit-content;
    background-color: var(--divider-content-bg);
    color: var(--divider-content-color);
    &.divider-content-orientation-horizontal {
      padding: var(--divider-horizontal-content-padding);
    }
  }
}
