:host {
  position: fixed;
  width: 100%;
  height: 4px;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: calc(var(--sr-max-z-index) + 1);
  &::after {
    content: '';
    position: absolute;
    inset: inherit;
    height: 100%;
    width: 0%;
    background-color: light-dark(var(--sr-primary--500), var(--sr-primary--500));
    background-image: linear-gradient(to right, var(--sr-primary--500), var(--sr-accent--500));
    animation: grow-progress linear;
    animation-timeline: scroll();
    border-start-end-radius: var(--sr-radius--2xl);
    border-end-end-radius: var(--sr-radius--2xl);
  }
}
@keyframes grow-progress {
  to { width: 100%; border-radius: 0; }
}
