[ngMenuTrigger] {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: color-mix(in srgb, var(--sr-teal-600) 5%, transparent);
  color: color-mix(in srgb, var(--sr-teal-600) 70%, var(--sr-surface--500));
  background-color: red;
}
[ngMenuTrigger] .icon {
  font-size: 1.5rem;
  opacity: 0.875;
}
[ngMenu] {
  gap: 3px;
  width: 15rem;
  display: flex;
  flex-direction: column;
}
[ngMenu] .group {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--sr-surface--500);
  box-shadow: 0 1px 2px 1px color-mix(in srgb, var(--sr-primary--500) 25%, transparent);
}
[ngMenu] .group:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
[ngMenu] .group:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
[ngMenu][data-visible='false'] {
  display: none;
}
[ngMenuItem] {
  outline: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  font-size: 0.875rem;
  border-radius: 0.75rem;
}
[ngMenuTrigger]:hover,
[ngMenuTrigger][aria-expanded='true'] {
  background: color-mix(in srgb, var(--sr-teal-600) 10%, transparent);
}
[ngMenuItem][data-active='true'] {
  color: color-mix(in srgb, var(--sr-teal-600) 70%, var(--sr-surface--500));
  background: color-mix(in srgb, var(--sr-teal-600) 5%, transparent);
}
[ngMenuItem]:focus,
[ngMenuTrigger]:focus {
  outline: 2px solid var(--sr-teal-600);
}
[ngMenuItem] .icon {
  opacity: 0.875;
  font-size: 1.25rem;
}
[ngMenuItem] .label {
  flex: 1;
  opacity: 0.875;
  font-size: 0.875rem;
}
[ngMenuItem]:not([aria-expanded='true']) .arrow {
  opacity: 0.5;
}
[ngMenu] .separator {
  border-top: 1px solid var(--sr-gray-500);
  margin: 0.25rem 0;
  opacity: 0.25;
}
