:host {
  --menu-position: calc(anchor(top) + var(--sr-header-elements-height) + var(--sr-header-padding) + var(--sr-border-width) + 0.5rem);
  display: block;
  .menu-button {
    anchor-name: --menu-anchor;
    height: var(--sr-header-elements-height);
    background-color: light-dark(var(--sr-primary--50), var(--sr-surface--700));
    transition: all 0.3s ease-in-out;
    border: none;
    outline-color: none;
    &:hover {
      background-color: light-dark(var(--sr-primary--500), var(--sr-primary--500));
      color: light-dark(var(--sr-surface--0), var(--sr-surface--100));
    }
    &[aria-expanded="true"] {
      background-color: light-dark(var(--sr-primary--700), var(--sr-primary--500));
      color: light-dark(var(--sr-surface--0), var(--sr-surface--100));
    }
  }

  .menu-list-wrapper {
    position-anchor: --menu-anchor;
    display: none;
    inset: auto;
    flex-wrap: wrap;
    inset-block-start: var(--menu-position);
    inset-inline-end: anchor(right);
    width: fit-content;
    max-width: 50vw;
    opacity: 0;
    transition-behavior: allow-discrete;
    background-color: light-dark(oklch(var(--sr-surface--0) l c h / 0.25), oklch(from var(--sr-surface--800) l c h / 0.25));
    backdrop-filter: blur(0.85rem) brightness(110%);

    .menu-lists {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .menu-item:focus {
        outline: 2px solid var(--sr-outline-offset-color);
        outline-offset: var(--sr-outline-offset-focus);
        z-index: 1;
      }
    }

    &:popover-open {
      display: flex;
      opacity: 1;
      inset-block-start: var(--menu-position);
      @starting-style {
        display: flex;
        opacity: 0;
        inset-block-start: calc(var(--sr-header-height) * 1.55);
      }
    }
  }

}
