<div class="tabs-wrapper flex flex--column" ngTabs role="tablist-container">
  <!-- TAB HEADERS -->
  <div
    ngTabList
    class="tabs-header flex {{ configs().tablistClass }}"
    role="tablist"
    [wrap]="configs().tabsInLoop"
    [(selectedTab)]="selectedTab"
    [orientation]="orientation()"
    [selectionMode]="selectionMode()"
    [softDisabled]="configs().softDisabled"
    [attr.aria-orientation]="orientation()"
    [attr.aria-wrap]="configs().tabsInLoop"
    [attr.aria-selection-mode]="selectionMode()"
  >
    <div class="tablist flex relative {{ configs().tablistClass }}">
      @for (tab of resolvedTabs(); track tab.id) {
        <div
          ngTab
          [value]="tab.value"
          role="tablist-button"
          [disabled]="tab.disabled"
          [class.disabled]="tab.disabled"
          class="tablist__item flex {{ configs().tabItemClass }}"
          (click)="onSelectTab(tab)"
        >
          @if (tabsTemplate(); as template) {
            <!-- START POSITION ICON -->
            @if (iconTemplate() || iconStart() || tab.icon) {
              @if (iconTemplate() || iconStart(); as iconTpl) {
                <span class="icon icon-start">
                  <!-- Template-based icon -->
                  <ng-container *ngTemplateOutlet="iconTpl; context: { tab: tab }"></ng-container>
                </span>
              } @else if (tab.icon && configs().showIcon) {
                <span class="icon icon-start">
                  <!-- Array-based icon (CSS class) -->
                  <i class="{{ typeof tab.icon === 'string' ? tab.icon : tab.icon.start }}"></i>
                </span>
              }
            }

            <!-- TAB LABEL/CONTENT -->
            <ng-container *ngTemplateOutlet="template; context: { tab: tab }"></ng-container>

            <!-- END POSITION ICON -->
            @if (iconEnd() || (typeof tab.icon !== 'string' && tab.icon?.end)) {
              @if (iconTemplate() || iconEnd(); as iconTpl) {
                <span class="icon icon-end">
                  <!-- Template-based icon -->
                  <ng-container *ngTemplateOutlet="iconTpl; context: { tab: tab }"></ng-container>
                </span>
              } @else if (configs().showIcon && typeof tab.icon !== 'string' && tab.icon?.end) {
                <span class="icon icon-end">
                  <!-- Array-based icon (CSS class) -->
                  <i class="{{ tab.icon?.end }}"></i>
                </span>
              }
            }
          } @else {
            <span class="tab-label pointer-events--none">{{ tab.label }}</span>
          }
        </div>
      }
    </div>
    <div class="bubble active"></div>
    <div class="bubble hover"></div>
  </div>

  <!-- TAB PANELS -->
  <div class="tab-panels">
    @for (tab of resolvedTabs(); track tab.id) {
      <div
        ngTabPanel
        [value]="tab.value"
        role="tabpanel"
        [preserveContent]="preserveContent()"
        class="tab-panel"
      >
        <ng-template ngTabContent>
          @if (tabsContentTemplate(); as template) {
            <ng-container *ngTemplateOutlet="template; context: { tab: tab }"></ng-container>
          } @else {
            @if (configs().showDefaultContent) {
              <div class="tab-default-content" role="tabpanel">{{ tab.label }} Content</div>
            }
          }
        </ng-template>
      </div>
    }
  </div>
</div>
