<div class="tabs-wrapper flex flex--column" ngTabs role="tablist-container">
  <!-- TAB HEADERS -->
  <div
    ngTabList
    class="tabs-header flex {{ configs().tablistClass }}"
    role="tablist"
    [wrap]="configs().tabsInLoop"
    [(selectedTab)]="selectedTab"
    [orientation]="configs().orientation"
    [selectionMode]="configs().selectionMode"
    [softDisabled]="configs().softDisabled"
    [attr.aria-orientation]="configs().orientation"
    [attr.aria-wrap]="configs().tabsInLoop"
    [attr.aria-selection-mode]="configs().selectionMode"
  >
    <div class="tablist flex relative {{ configs().tablistClass }}">
      @for (tab of resolvedTabs(); track tab.id) {
        <div
          ngTab
          [value]="tab.value"
          role="tablist-button"
          [disabled]="tab.disabled"
          [class.disabled]="tab.disabled"
          class="tablist__item flex {{ configs().tabItemClass }}"
          (click)="onSelectTab(tab)"
        >
        {{ tab.disabled ? '(Disabled) ' : '' }}
          @if (tabsTemplate(); as template) {
            @if((configs().showIcon && configs().iconPosition !== 'end') && tab.icon) {
              <span class="icon">
                <i class="{{tab.icon}}"></i>
              </span>
            }
            <ng-container *ngTemplateOutlet="template; context: { tab: tab }"></ng-container>
            @if((configs().showIcon && configs().iconPosition === 'end') && tab.icon) {
              <span class="icon">
                <i class="{{tab.icon}}"></i>
              </span>
            }
          } @else {
            <span class="tab-label pointer-events--none">{{ tab.label }}</span>
          }
        </div>
      }
    </div>
    <div class="bubble active"></div>
    <div class="bubble hover"></div>
  </div>

  <!-- TAB PANELS -->
  <div class="tab-panels">
    @for (tab of resolvedTabs(); track tab.id) {
      <div
        ngTabPanel
        [value]="tab.value"
        role="tabpanel"
        [preserveContent]="configs().preserveContent"
        class="tab-panel"
      >
        <ng-template ngTabContent>
          @if (tabsContentTemplate(); as template) {
            <ng-container *ngTemplateOutlet="template; context: { tab: tab }"></ng-container>
          } @else {
            @if (configs().showDefaultContent) {
              <div class="tab-default-content" role="tabpanel">{{ tab.label }} Content</div>
            }
          }
        </ng-template>
      </div>
    }
  </div>
</div>
