@import './variables/index.css';
@import './classes/index.css';
@import './utils/index.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--sr-body-bg);
  color: var(--sr-body-color);
  font-family: var(--sr-font-system-ui);
}
