@import './variables/index.css';
@import './classes/index.css';
@import './utils/index.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--sr-body-bg);
  color: var(--sr-body-color);
  font-family: var(--sr-font-system-ui);

  &::before {
    --sr-border-color: light-dark(oklch(0% 0 0 / 0.09), oklch(100% 0.00011 271.152 / 0.09));
    --size: 45px;
    content: '';
    background:
      linear-gradient(90deg, var(--sr-border-color) 1px, transparent 1px var(--size)) 50% 50% / var(--size)
        var(--size),
      linear-gradient(var(--sr-border-color) 1px, transparent 1px var(--size)) 50% 50% / var(--size)
        var(--size);
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    /* -webkit-mask: linear-gradient(-20deg, #0000 35%, #fff); */
    mask: linear-gradient(-20deg, #0000 35%, #fff);
  }
}
