@import './variables/index.css';
@import './classes/index.css';
@import './utils/index.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--sr-body-bg);
  color: var(--sr-body-color);
  font-family: var(--sr-font-system-ui);

  &::before {
    content: '';
    background:
      linear-gradient(90deg, var(--grid-colors) 1px, transparent 1px var(--grid-size)) 50% 50% / var(--grid-size)
        var(--grid-size),
      linear-gradient(var(--grid-colors) 1px, transparent 1px var(--grid-size)) 50% 50% / var(--grid-size)
        var(--grid-size);
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    /* -webkit-mask: linear-gradient(-20deg, #0000 35%, #fff); */
    mask: linear-gradient(-20deg, #0000 35%, #fff);
  }
}

