@layer utilities {
  .block { display: block; }
  .inline--block { display: inline-block; }
  .aspect-16\/9, .aspect--widescreen { aspect-ratio: 16 / 9; }
  .aspect-9\/16, .aspect--portrait-story { aspect-ratio: 9 / 16; }
  .aspect-21\/9, .aspect--ultrawide { aspect-ratio: 21 / 9; }
  .aspect-1\/1, .aspect--square { aspect-ratio: 1 / 1; }
  .aspect-4\/3, .aspect--standard { aspect-ratio: 4 / 3; }
  .aspect-3\/4, .aspect--portrait { aspect-ratio: 3 / 4; }
  .aspect-custom { aspect-ratio: var(--sr-aspect-ratio); }

  [class*="img-fit"], [class*="img--"] {
    img, svg {
      width: 100%;
      height: 100%;
      object-fit: var(--sr-img-fit-type);
    }
  }
  :where(.img-fit--cover, .img--cover) { --sr-img-fit-type: cover; }
  :where(.img-fit--fill, .img--fill) { --sr-img-fit-type: fill; }


  .icon--xs {
    width: var(--sr-icon--xs);
    height: var(--sr-icon--xs);
  }
  .icon--sm {
    width: var(--sr-icon--sm);
    height: var(--sr-icon--sm);
  }
  .icon--md {
    width: var(--sr-icon--md);
    height: var(--sr-icon--md);
  }
  .icon--lg {
    width: var(--sr-icon--lg);
    height: var(--sr-icon--lg);
  }
  .icon--xl {
    width: var(--sr-icon--xl);
    height: var(--sr-icon--xl);
  }
  .icon--2xl {
    width: var(--sr-icon--2xl);
    height: var(--sr-icon--2xl);
  }

  .transition {
    transition: var(--sr-transition-property) var(--sr-transition-duration) var(--sr-transition-type);
  }
  .transition--all { --sr-transition-property: all; }
  .transition--bg { --sr-transition-property: background-color; }
  .transition--color { --sr-transition-property: color; }
  .transition--transform { --sr-transition-property: transform; }
  .transition--opacity { --sr-transition-property: opacity; }
  .transition--width { --sr-transition-property: width; }
  .transition--height { --sr-transition-property: height; }
  .bg--transparent { background-color: transparent; }
  .focus--none:focus { outline-color: none; }
  .focus-inherit--bg:is(:focus, :focus-within, :focus-visible) {
    --sr-outline-offset--bg: inherit;
    background-color: var(--sr-outline-offset--bg);
  }
  .focus-inherit--color:is(:focus, :focus-within, :focus-visible) {
    --sr-outline-offset--color: inherit;
    outline-color: var(--sr-outline-offset--color);
  }

  :where(.bg-pattern, .bg--pattern) {
    width: var(--sr-pattern-width);
    background-image: repeating-linear-gradient(315deg, var(--sr-pattern-foreground) 0, var(--sr-pattern-foreground) 1px, transparent 0, transparent 50%);
    background-size: var(--sr-pattern-size) var(--sr-pattern-size);
    isolation: isolate;
  }


  .content-size--1 { max-inline-size: var(--sr-content-size--1); }
  .content-size--2 { max-inline-size: var(--sr-content-size--2); }
  .content-size--3 { max-inline-size: var(--sr-content-size--3); }
  .content-size--4 { max-inline-size: var(--sr-content-size--4); }
  .content-size--5 { max-inline-size: var(--sr-content-size--5); }
  .content-size--6 { max-inline-size: var(--sr-content-size--6); }
  .content-size--7 { max-inline-size: var(--sr-content-size--7); }
  .content-size--8 { max-inline-size: var(--sr-content-size--8); }
  .content-size--9 { max-inline-size: var(--sr-content-size--9); }
  .content-size--10 { max-inline-size: var(--sr-content-size--10); }


  .content-card--bg { background-color: var(--sr-content-card-bg); }

  .text--line-through { text-decoration-line: line-through; }
	.text--no-underline { text-decoration-line: none; }
	.text--overline { text-decoration-line: overline; }
	.text--underline { text-decoration-line: underline; }

  .overflow--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .overflow--hidden { overflow: hidden; }
  .overflow--visible { overflow: visible; }

}
