@layer utilities {
  .relative { position: relative; }
  .absolute { position: absolute; }
  .fixed { position: fixed; }
  .sticky { position: sticky; }

  .inset--auto { inset: auto; }
  .inset-x--auto { inset-inline: auto; }
  .inset-x-start--auto { inset-inline-start: auto; }
  .inset-x-end--auto { inset-inline-end: auto; }
  .inset-y--auto { inset-block: auto; }
  .inset-y-start--auto { inset-block-start: auto; }
  .inset-y-end--auto { inset-block-end: auto; }


  .block { display: block; }
  .grid { display: grid; }
  .inline--block { display: inline-block; }
  .inline--flex { display: inline-flex; }
  .inline--grid { display: inline-grid; }
  .cursor--pointer { cursor: pointer !important; }
  .pointer-events--none { pointer-events: none !important; }
  .cursor--default { cursor: default !important; }

  .text {
    font-size: var(--sr-text-sm);
    line-height: var(--sr-text-sm--line-height);
  }

  :where([class|='border']) {
    border: var(--sr-border-width) var(--sr-border-type) var(--sr-border-color);
  }

  :where(.w-full) {
    width: 100%;
  }


  .w-h-auto {
    width: auto;
    height: auto;
  }
  .w-h-100 {
    width: 100%;
    height: 100%;
  }


  .aspect-16\/9, .aspect--widescreen { aspect-ratio: 16 / 9; }
  .aspect-9\/16, .aspect--portrait-story { aspect-ratio: 9 / 16; }
  .aspect-21\/9, .aspect--ultrawide { aspect-ratio: 21 / 9; }
  .aspect-1\/1, .aspect--square { aspect-ratio: 1 / 1; }
  .aspect-4\/3, .aspect--standard { aspect-ratio: 4 / 3; }
  .aspect-3\/4, .aspect--portrait { aspect-ratio: 3 / 4; }
  .aspect-custom {
    aspect-ratio: var(--sr-aspect-ratio);
  }

  .img-fit--contain {
    img, svg {
      width: 100%;
      height: 100%;
      object-fit: var(--sr-img-fit-type);
    }
  }
  .img-fit--cover { --sr-img-fit-type: cover; }
  .img-fit--fill { --sr-img-fit-type: fill; }


  .icon--xs {
    width: var(--sr-icon--xs);
    height: var(--sr-icon--xs);
  }
  .icon--sm {
    width: var(--sr-icon--sm);
    height: var(--sr-icon--sm);
  }
  .icon--md {
    width: var(--sr-icon--md);
    height: var(--sr-icon--md);
  }
  .icon--lg {
    width: var(--sr-icon--lg);
    height: var(--sr-icon--lg);
  }
  .icon--xl {
    width: var(--sr-icon--xl);
    height: var(--sr-icon--xl);
  }
  .icon--2xl {
    width: var(--sr-icon--2xl);
    height: var(--sr-icon--2xl);
  }

  .transition {
    transition: var(--sr-transition-property) var(--sr-transition-duration) var(--sr-transition-type);
  }
  .transition--all { --sr-transition-property: all; }
  .transition--bg { --sr-transition-property: background-color; }
  .transition--color { --sr-transition-property: color; }
  .transition--transform { --sr-transition-property: transform; }
  .transition--opacity { --sr-transition-property: opacity; }
  .transition--width { --sr-transition-property: width; }
  .transition--height { --sr-transition-property: height; }

  .bg--transparent { background-color: transparent; }

  .focus\/z-index--1:focus { z-index: 1; }
  .focus\/z-index--2:focus { z-index: 2; }
  .focus\/z-index--3:focus { z-index: 3; }
  .focus\/z-index--4:focus { z-index: 4; }
  .focus\/z-index--5:focus { z-index: 5; }
  .focus\/z-index--6:focus { z-index: 6; }
  .focus\/z-index--7:focus { z-index: 7; }
  .focus\/z-index--8:focus { z-index: 8; }
  .focus\/z-index--9:focus { z-index: 9; }
  .focus\/z-index--max:focus { z-index: var(--sr-max-z-index); }

  .focus--none:focus { outline-color: none; }
  .focus-inherit--bg:is(:focus, :focus-within, :focus-visible) {
    --sr-outline-offset--bg: inherit;
    background-color: var(--sr-outline-offset--bg);
  }
  .focus-inherit--color:is(:focus, :focus-within, :focus-visible) {
    --sr-outline-offset--color: inherit;
    outline-color: var(--sr-outline-offset--color);
  }

  .text-decoration--underline { text-decoration: underline; }
  .hover\:text-decoration--underline:hover {
    text-decoration: underline;
  }
  .text-decoration--none { text-decoration: none; }
  .hover\:text-decoration--none:hover {
    text-decoration: none;
  }
}
