@layer utilities {

  /* Headings */
  :where(h1, .h1, .fs--h1) {
    font-size: var(--sr-fs--1);
    line-height: var(--sr-lh--1);
    font-weight: var(--sr-fw--700);
  }

  :where(h2, .h2, .fs--h2) {
    font-size: var(--sr-fs--2);
    line-height: var(--sr-lh--2);
    font-weight: var(--sr-fw--700);
  }

  :where(h3, .h3, .fs--h3) {
    font-size: var(--sr-fs--3);
    line-height: var(--sr-lh--3);
    font-weight: var(--sr-fw--700);
  }

  :where(h4, .h4, .fs--h4) {
    font-size: var(--sr-fs--4);
    line-height: var(--sr-lh--4);
    font-weight: var(--sr-fw--500);
  }

  :where(h5, .h5, .fs--h5) {
    font-size: var(--sr-fs--5);
    line-height: var(--sr-lh--5);
    font-weight: var(--sr-fw--500);
  }

  :where(h6, .h6, .fs--h6) {
    font-size: var(--sr-fs--6);
    line-height: var(--sr-lh--6);
    font-weight: var(--sr-fw--500);
  }

  /* Body text */
  :where(.fs--xs, .text--extra-small) {
    font-size: var(--sr-fs--xs);
    line-height: var(--sr-lh--xs);
  }

  :where(.fs--sm, .text--small, small) {
    font-size: var(--sr-fs--sm);
    line-height: var(--sr-lh--sm);
  }

  :where(p, .fs--md, .text--medium, .text-body, .text--p, .paragraph, .paragraph-text) {
    font-size: var(--sr-fs--md);
    line-height: var(--sr-lh--md);
  }

  :where(.fs--lg, .text--large) {
    font-size: var(--sr-fs--lg);
    line-height: var(--sr-lh--lg);
  }

  :where(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
    &:not(:last-child) {
      margin-block-end: var(--sr-spacing-md);
    }
  }

  :where(.line-height--normal) {
    line-height: normal;
  }
}
