/* @layer darkModes, lightModes; */
@import './classes.css';
@import './font-classes.css';
@import './gaps.css';
@import './radius.css';
@import './flex.css';
@import './grid.css';
@import './paddings.css';
@import './margins.css';
@import './borders.css';
@import './text.css';
@import './z-indexes.css';
@import './widths.css';
@import './cursors.css';
@import './positions.css';

@import './bg-light-mode.css';
@import './text-color-light-mode.css';
@import './bg-dark-mode.css';
@import './text-color-dark-mode.css';
