@layer utilities {
  /* radius */
  [class~="radius"] {
    border-radius: var(--sr-radius--sm) !important;
  }
  .radius--xs { border-radius: var(--sr-radius--xs); }
  .radius--sm { border-radius: var(--sr-radius--sm); }
  .radius--md { border-radius: var(--sr-radius--md); }
  .radius--lg { border-radius: var(--sr-radius--lg); }
  .radius--xl { border-radius: var(--sr-radius--xl); }
  .radius--2xl { border-radius: var(--sr-radius--2xl); }

  .radius-xs-y--start { border-start-start-radius: var(--sr-radius--xs); }
  .radius-xs-y--end { border-start-end-radius: var(--sr-radius--xs); }
  .radius-xs-x--start { border-end-start-radius: var(--sr-radius--xs); }
  .radius-xs-x--end { border-end-end-radius: var(--sr-radius--xs); }

  .radius-sm-y--start { border-start-start-radius: var(--sr-radius--sm); }
  .radius-sm-y--end { border-start-end-radius: var(--sr-radius--sm); }
  .radius-sm-x--start { border-end-start-radius: var(--sr-radius--sm); }
  .radius-sm-x--end { border-end-end-radius: var(--sr-radius--sm); }

  .radius-md-y--start { border-start-start-radius: var(--sr-radius--md); }
  .radius-md-y--end { border-start-end-radius: var(--sr-radius--md); }
  .radius-md-x--start { border-end-start-radius: var(--sr-radius--md); }
  .radius-md-x--end { border-end-end-radius: var(--sr-radius--md); }

  .radius-lg-y--start { border-start-start-radius: var(--sr-radius--lg); }
  .radius-lg-y--end { border-start-end-radius: var(--sr-radius--lg); }
  .radius-lg-x--start { border-end-start-radius: var(--sr-radius--lg); }
  .radius-lg-x--end { border-end-end-radius: var(--sr-radius--lg); }

  .radius-xl-y--start { border-start-start-radius: var(--sr-radius--xl); }
  .radius-xl-y--end { border-start-end-radius: var(--sr-radius--xl); }
  .radius-xl-x--start { border-end-start-radius: var(--sr-radius--xl); }
  .radius-xl-x--end { border-end-end-radius: var(--sr-radius--xl); }

  .radius-2xl-y--start { border-start-start-radius: var(--sr-radius--2xl); }
  .radius-2xl-y--end { border-start-end-radius: var(--sr-radius--2xl); }
  .radius-2xl-x--start { border-end-start-radius: var(--sr-radius--2xl); }
  .radius-2xl-x--end { border-end-end-radius: var(--sr-radius--2xl); }
}
