@layer utilities {
  @media (prefers-color-scheme: light) {
    .text-neutral--50 { background-color: var(--sr-neutral--50); }
    .hover\:text-neutral--50:hover { background-color: var(--sr-neutral--50); }

    .text-neutral--100 { background-color: var(--sr-neutral--100); }
    .hover\:text-neutral--100:hover { background-color: var(--sr-neutral--100); }

    .text-neutral--200 { background-color: var(--sr-neutral--200); }
    .hover\:text-neutral--200:hover { background-color: var(--sr-neutral--200); }

    .text-neutral--300 { background-color: var(--sr-neutral--300); }
    .hover\:text-neutral--300:hover { background-color: var(--sr-neutral--300); }

    .text-neutral--400 { background-color: var(--sr-neutral--400); }
    .hover\:text-neutral--400:hover { background-color: var(--sr-neutral--400); }

    .text-neutral--500 { background-color: var(--sr-neutral--500); }
    .hover\:text-neutral--500:hover { background-color: var(--sr-neutral--500); }

    .text-neutral--600 { background-color: var(--sr-neutral--600); }
    .hover\:text-neutral--600:hover { background-color: var(--sr-neutral--600); }

    .text-neutral--700 { background-color: var(--sr-neutral--700); }
    .hover\:text-neutral--700:hover { background-color: var(--sr-neutral--700); }

    .text-neutral--800 { background-color: var(--sr-neutral--800); }
    .hover\:text-neutral--800:hover { background-color: var(--sr-neutral--800); }

    .text-neutral--900 { background-color: var(--sr-neutral--900); }
    .hover\:text-neutral--900:hover { background-color: var(--sr-neutral--900); }

    .text-neutral--950 { background-color: var(--sr-neutral--950); }
    .hover\:text-neutral--950:hover { background-color: var(--sr-neutral--950); }

    .text-surface--0 { background-color: var(--sr-surface--0); }
    .hover\:text-surface--0:hover { background-color: var(--sr-surface--0); }

    .text-surface--50 { background-color: var(--sr-surface--50); }
    .hover\:text-surface--50:hover { background-color: var(--sr-surface--50); }

    .text-surface--100 { background-color: var(--sr-surface--100); }
    .hover\:text-surface--100:hover { background-color: var(--sr-surface--100); }

    .text-surface--200 { background-color: var(--sr-surface--200); }
    .hover\:text-surface--200:hover { background-color: var(--sr-surface--200); }

    .text-surface--300 { background-color: var(--sr-surface--300); }
    .hover\:text-surface--300:hover { background-color: var(--sr-surface--300); }

    .text-surface--400 { background-color: var(--sr-surface--400); }
    .hover\:text-surface--400:hover { background-color: var(--sr-surface--400); }

    .text-surface--500 { background-color: var(--sr-surface--500); }
    .hover\:text-surface--500:hover { background-color: var(--sr-surface--500); }

    .text-surface--600 { background-color: var(--sr-surface--600); }
    .hover\:text-surface--600:hover { background-color: var(--sr-surface--600); }

    .text-surface--700 { background-color: var(--sr-surface--700); }
    .hover\:text-surface--700:hover { background-color: var(--sr-surface--700); }

    .text-surface--800 { background-color: var(--sr-surface--800); }
    .hover\:text-surface--800:hover { background-color: var(--sr-surface--800); }

    .text-surface--900 { background-color: var(--sr-surface--900); }
    .hover\:text-surface--900:hover { background-color: var(--sr-surface--900); }

    .text-surface--950 { background-color: var(--sr-surface--950); }
    .hover\:text-surface--950:hover { background-color: var(--sr-surface--950); }
  }
  [data-theme="light"] {
    .text-neutral--50 { background-color: var(--sr-neutral--50); }
    .hover\:text-neutral--50:hover { background-color: var(--sr-neutral--50); }

    .text-neutral--100 { background-color: var(--sr-neutral--100); }
    .hover\:text-neutral--100:hover { background-color: var(--sr-neutral--100); }

    .text-neutral--200 { background-color: var(--sr-neutral--200); }
    .hover\:text-neutral--200:hover { background-color: var(--sr-neutral--200); }

    .text-neutral--300 { background-color: var(--sr-neutral--300); }
    .hover\:text-neutral--300:hover { background-color: var(--sr-neutral--300); }

    .text-neutral--400 { background-color: var(--sr-neutral--400); }
    .hover\:text-neutral--400:hover { background-color: var(--sr-neutral--400); }

    .text-neutral--500 { background-color: var(--sr-neutral--500); }
    .hover\:text-neutral--500:hover { background-color: var(--sr-neutral--500); }

    .text-neutral--600 { background-color: var(--sr-neutral--600); }
    .hover\:text-neutral--600:hover { background-color: var(--sr-neutral--600); }

    .text-neutral--700 { background-color: var(--sr-neutral--700); }
    .hover\:text-neutral--700:hover { background-color: var(--sr-neutral--700); }

    .text-neutral--800 { background-color: var(--sr-neutral--800); }
    .hover\:text-neutral--800:hover { background-color: var(--sr-neutral--800); }

    .text-neutral--900 { background-color: var(--sr-neutral--900); }
    .hover\:text-neutral--900:hover { background-color: var(--sr-neutral--900); }

    .text-neutral--950 { background-color: var(--sr-neutral--950); }
    .hover\:text-neutral--950:hover { background-color: var(--sr-neutral--950); }


    .text-surface--0 { background-color: var(--sr-surface--0); }
    .hover\:text-surface--0:hover { background-color: var(--sr-surface--0); }

    .text-surface--50 { background-color: var(--sr-surface--50); }
    .hover\:text-surface--50:hover { background-color: var(--sr-surface--50); }

    .text-surface--100 { background-color: var(--sr-surface--100); }
    .hover\:text-surface--100:hover { background-color: var(--sr-surface--100); }

    .text-surface--200 { background-color: var(--sr-surface--200); }
    .hover\:text-surface--200:hover { background-color: var(--sr-surface--200); }

    .text-surface--300 { background-color: var(--sr-surface--300); }
    .hover\:text-surface--300:hover { background-color: var(--sr-surface--300); }

    .text-surface--400 { background-color: var(--sr-surface--400); }
    .hover\:text-surface--400:hover { background-color: var(--sr-surface--400); }

    .text-surface--500 { background-color: var(--sr-surface--500); }
    .hover\:text-surface--500:hover { background-color: var(--sr-surface--500); }

    .text-surface--600 { background-color: var(--sr-surface--600); }
    .hover\:text-surface--600:hover { background-color: var(--sr-surface--600); }

    .text-surface--700 { background-color: var(--sr-surface--700); }
    .hover\:text-surface--700:hover { background-color: var(--sr-surface--700); }

    .text-surface--800 { background-color: var(--sr-surface--800); }
    .hover\:text-surface--800:hover { background-color: var(--sr-surface--800); }

    .text-surface--900 { background-color: var(--sr-surface--900); }
    .hover\:text-surface--900:hover { background-color: var(--sr-surface--900); }

    .text-surface--950 { background-color: var(--sr-surface--950); }
    .hover\:text-surface--950:hover { background-color: var(--sr-surface--950); }
  }
}
