@layer utilities {
  :where(.wh--full, .wh--100\%) { width: 100%; height: 100%; }
  :where(.wh--auto) { width: auto; height: auto; }

  :where(.w--full) { width: 100%; }
  :where(.w--95) { width: 95%; }
  :where(.w--90) { width: 90%; }
  :where(.w--85) { width: 85%; }
  :where(.w--80) { width: 80%; }
  :where(.w--75) { width: 75%; }
  :where(.w--70) { width: 70%; }
  :where(.w--65) { width: 65%; }
  :where(.w--60) { width: 60%; }
  :where(.w--55) { width: 55%; }
  :where(.w--50) { width: 50%; }
  :where(.w--45) { width: 45%; }
  :where(.w--40) { width: 40%; }
  :where(.w--35) { width: 35%; }
  :where(.w--30) { width: 30%; }
  :where(.w--25) { width: 25%; }
  :where(.w--20) { width: 20%; }
  :where(.w--15) { width: 15%; }
  :where(.w--10) { width: 10%; }
  :where(.w--5) { width: 5%; }
  :where(.w--0) { width: 0%; }
  :where(.w--half, .w--1\/2) { width: 50%; }
  :where(.w--\/1\/3) { width: 33.3333%; }
  :where(.w--\/1\/4) { width: 25%; }
  :where(.w--\/[\10]) { width: 10px; }

  :where(.w--200) { width: 15rem; }
  :where(.w--250) { width: 17rem; }
  :where(.w--300) { width: 20rem; }
  :where(.w--400) { width: 25rem; }
  :where(.w--500) { width: 30rem; }
  :where(.w--600) { width: 35rem; }

  /* heights */
  :where(.h--full) { height: 100%; }
  :where(.h--95) { height: 95%; }
  :where(.h--90) { height: 90%; }
  :where(.h--85) { height: 85%; }
  :where(.h--80) { height: 80%; }
  :where(.h--75) { height: 75%; }
  :where(.h--70) { height: 70%; }
  :where(.h--65) { height: 65%; }
  :where(.h--60) { height: 60%; }
  :where(.h--55) { height: 55%; }
  :where(.h--50) { height: 50%; }
  :where(.h--45) { height: 45%; }
  :where(.h--40) { height: 40%; }
  :where(.h--35) { height: 35%; }
  :where(.h--30) { height: 30%; }
  :where(.h--25) { height: 25%; }
  :where(.h--20) { height: 20%; }
  :where(.h--15) { height: 15%; }
  :where(.h--10) { height: 10%; }
  :where(.h--5) { height: 5%; }
  :where(.h--0) { height: 0%; }
  :where(.h--half, .h--1\/2) { height: 50%; }
  :where(.h--\/1\/3) { height: 33.3333%; }
  :where(.h--\/1\/4) { height: 25%; }
}
